{{> atom-h2-frecuency-default}}
{{> atom-h3-default}}

<section>
    <article>
        {{> faqsAtoms/atom-question-default}}
        {{> atom-p-info-default }}
    </article>

    <article>
        {{> atom-question-default}}
        {{> atom-p-info-default }}
    </article>

    <article>
        {{> atom-question-default}}
        {{> atom-p-info-default }}
    </article>
</section>

