:root {
    --text-color: #C2654E;
    --button-color: #C2654E;
    --border: 2px solid #C2654E;
    --container-color: #BFBFBF;
    --font-size:var(--bold);
}

.container__section__complain{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--container-color)
    
    
}

.h1__title__complain{
    
    
}
.container__form__complain{
    height: 80vh;
    background-color:var(--container-color)
}

.container__form__complain form{
    display: flex;
    flex-direction: column;

}

.container__form__complain form input{
    padding-left: 1vw;
    height: 5vh;
    width: 40vw;
    margin: 2vh auto;
    border:var(--border)
   


}

.container__form__complain form textarea{
    padding-left: 1vw;
    height: 20vh;
    width: 40vw;
    margin: 2vh auto;
    border:var(--border)
    
  

}

.button__submit_complain{
    background-color: var(--button-color);
    color: white;
}
