<header class="container__header__faqs">
    {{>atoms/faqsAtoms/atom-h1-title-default}}
    {{>atoms/faqsAtoms/atom-h2-frecuency-default}}
    {{>atoms/faqsAtoms/atom-h3-default}}
</header>

<section class="container__section__faqs">
    {{#each question}}
    <div class="questions_accordions">
        <section class="question-answer_accordion">
            <article class="question">
                <h4>{{ question }}</h4>
                {{>atoms/faqsAtoms/atom-img-default}}
            </article>
            <article class="answer">
                <p>{{ answer }}</p>

            </article>
        </section>
    </div>
    {{/each}}
</section>