<header>
    <h1>Centro de ayuda</h1>
</header>

<h2>Preguntas más frecuentes</h2>
<h3>Más populares</h3>

<section>
    {{#each question}}
        <article>
            <h4>{{ question }}</h4>
            {{>faqsAtoms/atom-img-default}}
            <p>{{ answer }}</p>
        </article>
    {{/each}}
</section>