<header>
    <h1>Centro de ayuda</h1>
</header>

<h2>Preguntas más frecuentes</h2>
<h3>Más populares</h3>

<section class="container__section__faqs">
    {{#each question}}
    <div class="questions_accordions">
        <section class="question-answer_accordion">
            <article class="question">
                <h4>{{ question }}</h4>
                {{>atoms/faqsAtoms/atom-img-default}}
            </article>
            <article class="answer">
                <p>{{ answer }}</p>

            </article>
        </section>
    </div>
    {{/each}}
</section>