<div>
    <form action="api/send-email" method="POST">
        <input type="text" name="name" placeholder="Nombre...">
        <input type="email" name="email" placeholder="Email...">
        <input type="text" name="phone" placeholder="Numero telefono...">
        <textarea name="message" rows="2" placeholder="Mensaje..."></textarea>

        <input type="submit" value="send">
    </form>
</div>