<section class="container__section__complain">
    <h1 class="h1__title__complain">Envíanos tu queja</h1>
</section>

<main class="container__form__complain">
    <form action="/send-email" method="POST">
        <input class="input1" type="text" name="name" placeholder="Nombre..." autofocus>
        <input type="email" name="email" placeholder="Email...">
        <input type="text" name="phone" placeholder="Numero telefono...">
        <textarea name="message" rows="2" placeholder="Mensaje..."></textarea>
        <input class="button__submit_complain" type="submit" value="ENVIAR">
    </form>
<main/>
