<header>
    <h1>Centro de ayuda</h1>
</header>

<h2>Preguntas más frecuentes</h2>
<h3>Más populares</h3>

<section>
    <article>
        <h4>Pregunta</h4>
        <p>Respuestas a las dudas</p>
    </article>

    <article>
        <h4>Pregunta</h4>
        <p>Respuestas a las dudas</p>
    </article>

    <article>
        <h4>Pregunta</h4>
        <p>Respuestas a las dudas</p>
    </article>
</section>