<header>
    <h1>Centro de ayuda</h1>
</header>

<main>
    <h2>Preguntas más frecuentes</h2>
    <h3>Más populares</h3>

    <section>
        
        <article>
            {{> molecule-aq-default}}
        </article>

        <article>
            {{> molecule-aq-default}}  
        </article>

        <article>
             {{> molecule-aq-default}}
        </article>

    </section>
</main>

